<?xml version="1.0" encoding="utf-8"?>
<Parameter>  
    <SERVER>ConsultoriTAcceso.mssql.somee.com</SERVER>
    <DATABASE>ConsultoriTAcceso</DATABASE>
    <USUARIO>danielbustos86_SQLLogin_1</USUARIO>
    <PASSWORD>ama3dh5spk</PASSWORD>
  <APIS>
    <RLABORAL>https://sccnlpservices-piloto.dirtrab.cl/Servicios/RelacionLaboral.asmx?op=registrarContratos</RLABORAL>
    <WNombrada>https://sccnlpservices-piloto.dirtrab.cl/Servicios/Nombradas.asmx?op=registrarNombradas</WNombrada>
    <USER>S91577000-2</USER>
    <PASS>bJ$7P8</PASS>
    <RUTEM>91577000</RUTEM>
  </APIS>
</Parameter>
