<?xml version="1.0" encoding="utf-8"?>
<Parameter>  
    <SERVER>172.17.1.14\SQLEXPRESS2014</SERVER>
    <DATABASE>Control_Accesos</DATABASE>
    <USUARIO>controlAcceso</USUARIO>
    <PASSWORD>1234</PASSWORD>
  <APIS>
    <RLABORAL>https://sccnlpservices-piloto.dirtrab.cl/Servicios/Nombradas.asmx?op=consultarNombradaByConcesionaria</RLABORAL>
    <USER>S76177481-6</USER>
    <PASS>4z_JA2m</PASS>
    <RUTEM>76177481</RUTEM>
  </APIS>
</Parameter>
